
# Storage
QWERY_STORAGE_DIR=qwery.db

# Extensions discovery
QWERY_EXTENSIONS_PATH=

# Azure OpenAI
AZURE_API_KEY=
AZURE_RESOURCE_NAME=
AZURE_OPENAI_DEPLOYMENT=

# Anthropic
ANTHROPIC_API_KEY=

# Ollama Cloud
AGENT_PROVIDER=ollama-cloud
OLLAMA_API_KEY=
OLLAMA_MODEL=minimax-m2.7

# Telemetry
QWERY_TELEMETRY_ENABLED=false
QWERY_TELEMETRY_DEBUG=false

# Default model
DEFAULT_MODEL=ollama-cloud/minimax-m2.7
